<!DOCTYPE html>
<html>
<head>
<title>智能考场系统-手机端</title>

<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!--Custom Theme files-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css?v=5.4.4" />
<!--//Custom Theme files-->


<!--js-->
<!-- 生产环节的vue  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript" src="js/jquery.mmenu.min.all.js?v=5.4.4"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<!-- //js -->
</head>
<body>



		<div class=" mm-wrapper"  id="page">

			<div class="push-menu ">

				<div class="banner">
					<div class="header-top">
						<ul>
							<li><span></span></li>
							<li><span class="chrg"></span> </li>
							<li>智能考场系统-手机端</li>
						</ul>
					</div>

					<div class="banner-text">
						<div class="menu">
							<a href="#menu"><img src="images/menu-icon.png" alt=""  style="width: 100%;height: auto;" /></a>
							<nav id="menu">
								<ul class="">
									<li class="menu-title">选项</li>
									<li><a href="./index.html"><span class="icons"> </span> 返回主页</a></li>
									<li><a href="./add.html"><span class="icons"> </span> 添加人脸数据</a></li>
									<li><a href="./index.html"><span class="icons icn2"> </span> 关于该项目</a></li>

								</ul> 	
							</nav>


								<script type="text/javascript">
									$(function() {
										$("#menu")
											.mmenu({
								extensions 	: [ "theme-dark", "effect-listitems-slide" ],
								iconPanels	: {
									add 		: true,
									visible		: 1
								},
								navbar		: {
									add 		: false
								},
								counters	: true
											}).on( 'click',
												'a[href^="#/"]',
												function() {
													alert( "Thank you for clicking, but that's a demo link." );
													return false;
												}
											);
									});
								</script>

						</div>

						<div class="title" id="appImageAndName" >
							<div class="title-left" >
								<div class="title-leftimg">
									<img :src="imageData" alt="" @click="clickImage"/>
									<input type="file" id="uploader" capture="user" accept="image/*" multiple="" style="display:none"  @change="changeImage($event)">
								</div>

							</div>
							<div class="title-right">
								
								<h2><input type="checkbox" style="display: none;" id="checkbox1">{{name}}</h2>

							</div>

							<div class="clear"> </div>
						</div>


					</div>

				</div>


				<div class="clear"> </div>


				<div class="work-text" id="appText">
					<h3>数据展示:</h3>

					<table class="pure-table pure-table-bordered">
						<thead>
							<tr>
								<th># #</th>
								<th>学 号</th>
								<th>姓 名</th>
								<th>签 到</th>
							</tr>
						</thead>
					
						<tbody>
							<tr v-for="(i,k) in res">
								<td>{{k+1}}</td>
								<td>{{i.sid}}</td>
								<td width="80">{{i.name}}</td>
								<td :style="{color:(i.isroom==false?'#ee6941':'#1e1e1e')}">{{i.isroom}}</td>
							</tr>
					


						</tbody>
					</table>
					<br>
				</div>
				
			</div>


		</div>




</body>
<script src="./js/about.js"></script>
</html>
