<!DOCTYPE html>
<html>
<head>
<title>主页</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />



</head>
<body>
	<h1>智能化考勤v2</h1>
	
	<div class="main">
		<div class=" profile">
			<div class="banner">
				<div class="banner-text">
					
					
				</div>
			</div>
			<div class="profile-slider">
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">
						<li id="callbacks1_s1" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 400ms ease-in-out 0s;">
							<div class="slider-text">
								<h3>使用流程</h3>
								<p>先进行数据添加,确保系统存在学生人脸数据。然后将由你(教师)向数据库中批量添加学生上课信息，就可以在班级开启验证了</p>
							</div>
						</li>
						
					<div class="clear"> </div>

						 
				</div>

				<a href="./add.html" class="skip">添 加 数 据</a>
				<a href="./about.html" class="skip">班级考勤v2</a>
			</div>
		</div>
		
	</div>
						


</body>
</html>